:root {
  --form-header: #f7f7f7;
  --uploaded-background: #f0fff0;
  --uploaded-container-background: #80808099;
  --uploaded-shadow: #000000cc;
  --outline: #e9e9e9;
  --remove: #d93546;
  --submit: #6cc883;
  --add: #0079fe;
  --clear: #ff69b4;
}

* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.forms-container {
  border: 1px solid var(--outline);
  border-radius: 5px;
  max-width: 85vw;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin: 40px auto;
}
.forms-container.is-upload {
  height: 100%;
  overflow: hidden;
}

.form-header {
  background-color: var(--form-header);
  padding: 15px;
}

.profile-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.half-width-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.field {
  width: 100%;
  margin: 10px;
}
.field label {
  margin-bottom: 10px;
  display: block;
}
.field input,
.field select {
  border: 1px solid var(--outline);
  border-radius: 3px;
  padding: 8px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.field .is-error {
  color: var(--remove);
}

.popup-container {
  width: 100%;
  height: 100%;
  background-color: var(--uploaded-container-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.popup-container .uploaded-popup {
  background-color: var(--uploaded-background);
  border: 1px solid grey;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 10px 0px var(--uploaded-shadow);
          box-shadow: 0px 0px 10px 0px var(--uploaded-shadow);
  padding: 20px;
  min-width: 50vw;
}
.popup-container .uploaded-popup .popup-header {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.popup-container .uploaded-popup .contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.popup-container .uploaded-popup .contacts-wrapper .contact {
  width: 50%;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border: none;
  border-radius: 3px;
  padding: 8px;
  color: white;
}

.remove-contact-btn {
  background-color: var(--remove);
  margin: 10px;
}

.clear-btn {
  background-color: var(--clear);
}

.buttons-line {
  margin-left: 10px;
}
.buttons-line .submit-btn {
  background-color: var(--submit);
  margin: 10px;
}
.buttons-line .add-contact-btn {
  background-color: var(--add);
}

.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 650px) {
  .contact-form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-form-wrapper .contact-form {
    width: 50%;
  }
}